<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1>Enter Your Own Hobby</h1>
	<%= simple_form_for @hobby do |f| %>
	  <%= f.input :hobby_name %>
	  <%= f.input :description %>
	  <%= f.input :author %>
	  <br />
	  <%= f.submit 'Create', :class => 'btn btn-primary' %>
	<% end %>
</div>